language: go

go:
  - 1.x

os:
  - linux
  - osx
  - windows

matrix:
  fast_finish: true

jobs:
  allow_failures:
    - os: windows

before_deploy:
  - go get github.com/karalabe/xgo
  - docker build --tag xgo-builder xgo
  - xgo -image xgo-builder --targets=windows/amd64,darwin/amd64,linux/amd64 .

deploy:
  provider: releases
  api_key:
    secure: olgjR93AxZChmTriGo4DkofTJIhCqymhRPl1qGcO3uD3xBMsmX760kQhGjkMUcgzenhOhtqxiRB9acYPoqPb2LGYNU2Ff8sMXfx5Oa3JMb9yEnosLbPDwM5D0nTdWhgn
  file:
    - pegnetd-darwin-10.6-amd64
    - pegnetd-linux-amd64
    - pegnetd-windows.exe
  on:
    tags: true
    condition: $TRAVIS_OS_NAME = linux